table {
    border-style: solid;
    border-width: medium;
    border-color: #2e86c1;
    margin-left: 5%;
}

th { 
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    color: #154360;
}

td {
    background-color: #e3e7e9;
    text-align: center;
}
    

