/* Estilo Buffet: fondo negro, letras blancas, itálica */
/* SECCIONES DE LA PÁGINA */

section article {
	color:#ffffff;
	background-color: #000000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	text-align:justify;
	width: 80%;
	float: right;
	padding: 1%;
	clear: both;
}

section article h2 {
	font-family:  'Times New Roman', Times, serif;
	font-style: italic;
	text-transform: capitalize;
	color: #ffffff;
}

section article figure {
	float: left;
	padding: 1% 1%;
    text-transform: capitalize;
	border-color:  #ffffff;
	text-align: center;
    color: #ffffff;
    font-size: small;
    font-weight: bold;
    border-style: solid;
}

